body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141d26;
    /* Dark blue */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard-container {
    text-align: center;
    padding: 20px;
    background-color: #2e3a4d;
    /* Dark blue */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

p {
    margin-bottom: 20px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

a {
    color: #fff;
    text-decoration: none;
    background-color: #ff0045;
    /* Red */
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #ff506a;
    /* Light red */
}